body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hud {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

#life-bar {
  width: 100%;
  object-fit: contain;
}

#item-list img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.hud-element {
  height: fit-content;
  width: 33%;
}

#item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-right: 40px; */
  flex-grow: 1;
  align-items: center;
}

.counter {
  /* font-size: 20px; */
  color: white;
  margin: 0;
}

#touchpad{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  height: 10%;
}

.touchpad-container {
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
}

.pad {
  width: 20%;
  height: 100%;
}

.pad-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.d-none{
  display: none !important;
}

#log{
  position: absolute;
  top: 0;
  left: 0;
}

#game-container{
  position: relative;
  /* margin-top: 200px; */
}

#game-status{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas {
  background-color: black;
  display: block;
}

#touch-pad{
  position: absolute;
  bottom: 0;
}

/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
  canvas {
      width: 100%;
  }
}

/* Smartphones ----------- */
@media only screen and (max-height: 480px) {
  canvas {
      height: 100vh;
  }
}